$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$salmon: #d9534f;
$salmon-bdr: #d43f3a;
$salmon-hvr: #d2322d;
$salmon-hvr-bdr: #ac2925;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header {
  .navbar {
    border-radius: 0;
  }
  .navbar-inverse {
    background: $salmon;
    border-color: $salmon-bdr;
    .navbar-brand {
      color: #fff;
      &:hover {
        color: #e5e5e5;
      }
    }
    li > a {
      color: #fff;
      &:hover {
        background: $salmon-hvr;
        border-color: $salmon-hvr-bdr;
      }
    }
    .active > a {
      background: $salmon-hvr;
      &:hover {
        background: $salmon-hvr;
        border-color: $salmon-hvr-bdr;
      }
    }
    .navbar-collapse {
      border: none;
    }
    .navbar-toggle {
      border-color: $salmon-hvr-bdr;
      &:hover, &:focus {
        background: $salmon-hvr;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  .panel {
    margin-bottom: 0;
    margin-top: 20px;
    .panel-footer {
      padding: 5px 10px;
    }
  }
}

.container {
  padding-bottom: 31px;
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  .marvel {
    margin: 40px 0;
    .go-btn {
      margin-top: 15px;
      margin-bottom: 50px;
    }
    .character-info {
      margin-bottom: 30px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.reveal-animation.ng-enter,
.reveal-animation.ng-leave,
.reveal-animation.ng-move {
  position:relative;
}

.reveal-animation.ng-enter {
  -webkit-animation: 0.5s repeat-animation-enter;
  animation: 0.5s repeat-animation-enter;
}

.reveal-animation.ng-leave {
  -webkit-animation: 0.5s repeat-animation-leave;
  animation: 0.5s repeat-animation-leave;
}

.reveal-animation.ng-move {
  -webkit-animation: 0.5s repeat-animation-move;
  animation: 0.5s repeat-animation-move;
}

@keyframes repeat-animation-enter {
  from {
    left:-10px;
    opacity:0;
  }
  to {
    left:0;
    opacity:1;
  }
}

@-webkit-keyframes repeat-animation-enter {
  from {
    left:-10px;
    opacity:0;
  }
  to {
    left:0;
    opacity:1;
  }
}

@keyframes repeat-animation-leave {
  from {
    left:0;
    opacity:1;
  }
  to {
    left:-10px;
    opacity:0;
  }
}

@-webkit-keyframes repeat-animation-leave {
  from {
    left:0;
    opacity:1;
  }
  to {
    left:-10px;
    opacity:0;
  }
}

@keyframes repeat-animation-move {
  from { opacity:0.5; }
  to { opacity:1; }
}

@-webkit-keyframes repeat-animation-move {
  from { opacity:0.5; }
  to { opacity:1; }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 30px;
  }
  .container {
    .jumbotron {
      border-bottom: 0;
    }
    .marvel {
      .character-info {
        img {
          width: 350px;
          margin-right: 30px;
        }
      }
    }
  }
}
