<h2>About</h2>
<div class="row">
  <div class="col-xs-12">
    <h4>Marvel Search App</h4>
    <ul>
      <li>Searches the Marvel database for the inputted character text and returns the top 10 results</li>
      <li>Built using <a href="http://angularjs.org/" target="_blank">AngularJS</a> and the <a href="http://developer.marvel.com/" target="_blank">Marvel API</a></li>
      <li><a href="https://github.com/xphong/marvel-angular-app" target="_blank">Github Link</a></li>
      <li>And no, I do not know why it shows Lego characters</li>
    </ul>
  </div>
</div>